__pycache__/
*.py[cod]
*.pyo

terraform.tfstate
terraform.tfstate.*
crash.log
*.tfplan
.terraform/
.terraform.lock.hcl

.env
*.env

lambda.zip

node_modules/

.DS_Store
Thumbs.db
.vscode/

*.log

venv/
.env/
